---
import Layout from '../layouts/Layout.astro';
import { Breadcrumbs } from 'astro-breadcrumbs';
import 'astro-breadcrumbs/breadcrumbs.css';
import { Image } from 'astro:assets';
import Pricing from '../components/Pricing.astro';
const customCrumbs = [{ text: 'Главная', href: '/' }, { text: 'О компании' }];
---

<Layout title="Company">
  <div class="bg-[#F0F0F0]">
    <div class="container pt-9 mb-[40px] md:mb-0 z-10 relative">
      <div class="pb-16 sm:pb-24">
        <Breadcrumbs crumbs={customCrumbs} />
      </div>
      <div class="flex flex-col lg:flex-row items-start gap-5 justify-between">
        <h1 class="section-title">О Компании</h1>
        <div class="flex flex-col max-w-[660px] xl:max-w-[820px] gap-10">
          <h2 class="md:text-2xl lg:text-3xl font-extrabold uppercase">
            <span class="text-[#E3000B]"> Строительные системы -</span> это компания, объединяющая современные технологии и эффективную систему управления
            строительными проектами
          </h2>
          <div class="-mx-5 md:hidden">
            <Image src={import('../assets/company-mobile-bg.png')} class="w-full object-cover" alt="image" />
          </div>
          <div class="flex flex-col md:flex-row gap-5">
            <div class="bg-white p-6 rounded-lg md:max-w-[452px]">
              <h3 class="uppercase font-bold mb-5 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                  <path d="M6.26538 1L10.7835 7.02066L6.26538 13.0413" stroke="#F43333" stroke-width="2"></path>
                  <path d="M11.7732 1L16.2913 7.02066L11.7732 13.0413" stroke="#F43333" stroke-width="2"></path>
                </svg>
                контроль качества
              </h3>
              <p class="text-[#656A7C]">
                Наша деятельность включает в себя независимый контроль качества работ со стороны компании “Технониколь” и постгарантийный сервис. Все
                это позволяет нам создавать надежные и долгосрочные проекты, придавая вам долгосрочную уверенность в выборе наших услуг
              </p>
            </div>
            <div class="bg-white p-6 rounded-lg">
              <h3 class="uppercase font-bold mb-5 flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                  <path d="M6.26538 1L10.7835 7.02066L6.26538 13.0413" stroke="#F43333" stroke-width="2"></path>
                  <path d="M11.7732 1L16.2913 7.02066L11.7732 13.0413" stroke="#F43333" stroke-width="2"></path>
                </svg>
                Гарантии
              </h3>
              <p class="text-[#656A7C]">
                Предоставляем Единый Гарант и единые условия на все материалы премиум класса. Чёткость, ясность гарантийных обязательств, условий
                получения и действия сертификата.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="-mt-[320px] hidden md:block w-full object-cover mx-auto -z-10 mb-[120px]">
      <Image src={import('../assets/company-page-bg.png')} class="object-cover w-full" alt="О компании" />
    </div>
    <div class="container mb-10">
      <div class="pt-5 sm:pt-[60px] pb-5 px-5 bg-white rounded-xl">
        <div class="flex flex-col xm:flex-row items-center gap-10 md:gap-20 mb-8 px-5">
          <Image src={import('../assets/company-sert.png')} quality={100} alt="company" />
          <div class="max-w-[717px] flex flex-col">
            <p class="text-[#E3000B] sm:mb-6 uppercase font-bold">Мы являемся официальным авторизованным подрядчиком ТехноНиколь</p>
            <h2 class="-order-1 sm:order-0 uppercase mb-2 sm:mb-0 md:text-2xl lg:text-3xl font-extrabold">
              даём гарантию на качество работ и материалов до 15 лет на всех этапах выполнения
            </h2>
          </div>
        </div>
        <div class="flex flex-wrap relative justify-around gap-5 sm:gap-10 py-5 px-3 sm:px-8 bg-[#2E3037] text-white rounded-lg overflow-hidden">
          <div class="flex flex-col max-w-[110px] sm:max-w-full sm:items-center z-10">
            <span class="font-medium text-[34px] sm:text-[42] md:text-[70px]">180</span>
            <span class="font-bold sm:text-lg">сотрудников в компании</span>
          </div>
          <div class="flex flex-col max-w-[110px] sm:max-w-full sm:items-center z-10">
            <span class="font-medium text-[34px] sm:text-[42] md:text-[70px]">325</span>
            <span class="font-bold sm:text-lg">проектов реализовано</span>
          </div>
          <div class="flex flex-col max-w-[110px] sm:max-w-full sm:items-center z-10">
            <span class="font-medium text-[34px] sm:text-[42] md:text-[70px]">20</span>
            <span class="font-bold sm:text-lg">лет на рынке</span>
          </div>
          <div class="flex flex-col max-w-[110px] sm:max-w-full sm:items-center z-10">
            <span class="font-medium text-[34px] sm:text-[42] md:text-[70px]">15</span>
            <span class="font-bold sm:text-lg">лет гарантии</span>
          </div>
          <Image src={import('../assets/company-mask.svg')} alt="company" class="absolute top-0 right-0 object-cover h-full w-full sm:w-auto z-0" />
        </div>
      </div>
    </div>
    <div class="container flex flex-col lg:flex-row gap-5 mb-[60px] md:mb-[120px]">
      <div class="bg-white rounded-lg p-5 sm:p-10">
        <h3 class="font-bold mb-2 uppercase">ПРОФЕССИОНАЛИЗМ</h3>
        <p class="font-semibold text-[#656A7C] mb-5 sm:text-lg">
          Наши специалисты обладают сертификатами мастерства компании Технониколь, удостоверениями в области охраны труда, промышленной и пожарной
          безопасности. Также специалисты регулярно проходят повышение квалификации и знают все современные технологии
        </p>
        <p class="font-semibold text-[#656A7C] mb-5 sm:text-lg">
          Штат включает в себя высококвалифицированных инженеров и опытных кровельщиков, готовых предложить оптимальные решения для вашего проекта. Мы
          готовим необходимые технические решения и реализуем проекты в соответствие с нормативами строительства.
        </p>
        <h3 class="sm:pt-10 font-bold mb-2 uppercase">Надежность</h3>
        <p class="font-semibold text-[#656A7C] mb-5 sm:text-lg">
          Наша компания продемонстрировала стабильный рост рентабельности, увеличивая ее более чем на 30% ежегодно. Это подтверждает нашу надежность и
          профессионализм.
        </p>
        <p class="font-semibold text-[#656A7C] sm:text-lg">
          Мы готовы стать вашим надежным партнером и стремимся к взаимовыгодному сотрудничеству. Доверьтесь нам, чтобы воплотить в жизнь ваши
          строительные проекты, и получить высокое качество работ.
        </p>
      </div>
      <div class="bg-white flex flex-col rounded-lg p-5 sm:p-10">
        <h3 class="font-bold mb-2 uppercase">Мы работаем в строительной отрасли уже 20 лет</h3>
        <p class="font-semibold text-[#656A7C] sm:text-lg mb-2">
          Каждый отдельный заказ на проведение строительных работ индивидуален, поэтому мы разрабатываем индивидуальные сметы и технико-коммерческие
          предложения только после тщательного изучения проектной документации или осмотра объекта на месте.
        </p>
        <p class="font-semibold text-[#656A7C] sm:text-lg mb-5">
          Штат включает в себя высококвалифицированных инженеров и опытных кровельщиков, готовых предложить оптимальные решения для вашего проекта. Мы
          готовим необходимые технические решения и реализуем проекты в соответствие с нормативами строительства.
        </p>
        <div class="mt-auto -order-1 sm:order-0 mb-8 sm:mb-0 sm:self-end max-w-[205px]">
          <Image src={import('../assets/company-man.png')} alt="man" class="mb-4" />
          <span class="text-[18px] leading-[17px] block font-medium mb-1">Мальцев <br /> Алексей Николаевич</span>
          <p class="text-[12px] text-[#5D6671] uppercase font-bold">Директор ООО «Строительные системы»</p>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container py-5 sm:py-14">
        <h2 class="section-title">География работ</h2>
        <Image src={import('../assets/map.png')} quality={100} class="sm:-mt-10 scale-150 sm:scale-100 mx-20 my-10 sm:m-0" alt="map" />
      </div>
    </div>
    <Pricing client:load />
  </div>
</Layout>
