---
import Layout from '../layouts/Layout.astro'
import { validateForm } from '../utils/contactFormValidation'
import { sendEmail } from '../utils/nodemailer'

let err = {};
let isValid = false;

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const formData = {
    fullName: data.get('fullName'),
    email: data.get('email'),
    message: data.get('message'),
  };
  const validationResult = validateForm(formData);
  isValid = true;
  if (validationResult.success) {
    try {
      await sendEmail(formData);
      return Astro.redirect('/');
    } catch (err) {
      isValid = false;
    }
  } else {
    err = validationResult.errors;
  }
}
---

<Layout title="Contact">
  <div class="bg-base-100 min-h-screen relative">
    {isValid ? <p class="text-center w-full absolute top-0 left-o text-warning">Unesi normalne podatke da te ne nerviram</p> : null}
    <div class="dui-container mx-auto min-h-screen">
      <div class="dui-card shadow-xl p-8 mt-8 max-w-md mx-auto">
        <h2 class="text-2xl font-bold text-success mb-6 text-center">Contact</h2>
        <form method="POST">
          <input type="text" name="fullName" />
          <input type="email" name="email" />
          <textarea name="message"></textarea>
          <button type="submit" class="dui-btn dui-btn-success w-full uppercase text-primary font-bold text-lg disabled:btn-neutral">Pošalji</button>
        </form>
      </div>
    </div>
  </div>
</Layout>
