---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Breadcrumbs } from 'astro-breadcrumbs';
import 'astro-breadcrumbs/breadcrumbs.css';
import { Icon } from 'astro-icon/components';
import VideoReview from '../components/VideoReview';
import Pricing from '../components/Pricing.astro';
const customCrumbs = [
  { text: 'Главная', href: '/' },
  { text: 'Объекты', href: '/objects' },
  { text: 'Торговый комплекс "Континент"', href: '/news' },
];
const objects = [
  {
    url: import('../assets/projects/1.png'),
  },
  {
    url: import('../assets/projects/2.png'),
  },
  {
    url: import('../assets/projects/3.png'),
  },
];
---

<Layout title="Object">
  <div class="bg-[#F0F0F0] pt-9">
    <div class="container">
      <div class="mb-10 sm:mb-24">
        <Breadcrumbs crumbs={customCrumbs} />
      </div>
      <div class="flex flex-col lg:flex-row items-center lg:items-start gap-5 pb-14 sm:pb-32">
        <div class="embla relative">
          <div class="embla__viewport">
            <div class="embla__container lg:max-w-[610px]">
              {
                objects.map((object) => (
                  <div class="embla__slide">
                    <Image src={object.url} alt="Отзыв" class="w-full lg:max-w-[610px]" quality={90} />
                  </div>
                ))
              }
            </div>
            <button class="embla__prev z-10 shrink-0 absolute left-5 top-1/2">
              <svg width="20" height="35" viewBox="0 0 20 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5 2L3 17.5L18.5 33" stroke="white" stroke-width="4"></path>
              </svg>
            </button>
            <button class="embla__next z-10 shrink-0 absolute right-5 top-1/2">
              <svg width="20" height="35" viewBox="0 0 20 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 2L17 17.5L1.5 33" stroke="white" stroke-width="4"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="w-full lg:max-w-[610px]">
          <div class="rounded-lg p-5 sm:p-[30px] bg-white mb-7">
            <h1 class="section-title text-xl md:text-[28px] mb-8">Торговый комплекс "Континент"</h1>
            <div class="mb-7 sm:mb-12">
              <span class="text-[#56585E] block mb-1">Местоположение</span>
              <h2 class="text-sm sm:text-xl flex items-center gap-2 font-bold uppercase">
                <Icon name="map" class="text-primary size-5 sm:size-6" />
                Академгородок д. 4, секция 6
              </h2>
            </div>
            <div class="flex gap-5 pb-10 sm:pb-8 sm:border-b sm:border-[#D6D6D6]">
              <div class="border w-full sm:w-auto border-[#D6D6D6] rounded flex flex-col sm:flex-row items-start sm:items-center">
                <div class="p-6">
                  <Icon name="square" class="size-8" />
                </div>
                <div class="flex flex-col p-2 sm:p-4 sm:border-l sm:border-[#D6D6D6] font-semibold">
                  <span class="text-[#848898]">Площадь объекта:</span>
                  <span class="text-primary text-xl font-bold">1560 м2</span>
                </div>
              </div>
              <div class="border w-full sm:w-auto border-[#D6D6D6] rounded flex flex-col sm:flex-row items-start sm:items-cente">
                <div class="p-6">
                  <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                    <g clip-path="url(#clip0_1_926)">
                      <path
                        d="M8.81098 12.1915C8.81098 11.939 8.60633 11.7344 8.35389 11.7344H5.06647C4.81403 11.7344 4.60938 11.939 4.60938 12.1915V15.4788C4.60938 15.7313 4.81403 15.9359 5.06647 15.9359H8.35389C8.60633 15.9359 8.81098 15.7313 8.81098 15.4788V12.1915ZM7.8968 15.0217H5.52356V12.6486H7.8968V15.0217Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M14.6704 12.1915C14.6704 11.939 14.4657 11.7344 14.2133 11.7344H10.9258C10.6734 11.7344 10.4688 11.939 10.4688 12.1915V15.4788C10.4688 15.7313 10.6734 15.9359 10.9258 15.9359H14.2133C14.4657 15.9359 14.6704 15.7313 14.6704 15.4788V12.1915ZM13.7562 15.0217H11.3829V12.6486H13.7562V15.0217Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M20.5297 12.1915C20.5297 11.939 20.3251 11.7344 20.0726 11.7344H16.7852C16.5327 11.7344 16.3281 11.939 16.3281 12.1915V15.4788C16.3281 15.7313 16.5327 15.9359 16.7852 15.9359H20.0726C20.3251 15.9359 20.5297 15.7313 20.5297 15.4788V12.1915ZM19.6155 15.0217H17.2423V12.6486H19.6155V15.0217Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M22.6446 15.9359H25.932C26.1845 15.9359 26.3891 15.7313 26.3891 15.4788V12.1915C26.3891 11.939 26.1845 11.7344 25.932 11.7344H22.6446C22.3921 11.7344 22.1875 11.939 22.1875 12.1915V15.4788C22.1875 15.7313 22.3921 15.9359 22.6446 15.9359ZM23.1017 12.6486H25.4749V15.0217H23.1017V12.6486Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M8.81098 18.1407C8.81098 17.8882 8.60633 17.6836 8.35389 17.6836H5.06647C4.81403 17.6836 4.60938 17.8882 4.60938 18.1407V21.428C4.60938 21.6805 4.81403 21.8851 5.06647 21.8851H8.35389C8.60633 21.8851 8.81098 21.6805 8.81098 21.428V18.1407ZM7.8968 20.971H5.52356V18.5978H7.8968V20.971Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M14.6704 18.1407C14.6704 17.8882 14.4657 17.6836 14.2133 17.6836H10.9258C10.6734 17.6836 10.4688 17.8882 10.4688 18.1407V21.428C10.4688 21.6805 10.6734 21.8851 10.9258 21.8851H14.2133C14.4657 21.8851 14.6704 21.6805 14.6704 21.428V18.1407ZM13.7562 20.971H11.3829V18.5978H13.7562V20.971Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M20.5297 18.1407C20.5297 17.8882 20.3251 17.6836 20.0726 17.6836H16.7852C16.5327 17.6836 16.3281 17.8882 16.3281 18.1407V21.428C16.3281 21.6805 16.5327 21.8851 16.7852 21.8851H20.0726C20.3251 21.8851 20.5297 21.6805 20.5297 21.428V18.1407ZM19.6155 20.971H17.2423V18.5978H19.6155V20.971Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M22.1875 21.428C22.1875 21.6805 22.3921 21.8851 22.6446 21.8851H25.932C26.1845 21.8851 26.3891 21.6805 26.3891 21.428V18.1407C26.3891 17.8882 26.1845 17.6836 25.932 17.6836H22.6446C22.3921 17.6836 22.1875 17.8882 22.1875 18.1407V21.428ZM23.1017 18.5978H25.4749V20.971H23.1017V18.5978Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M8.35389 23.6328H5.06647C4.81403 23.6328 4.60938 23.8374 4.60938 24.0899V27.3773C4.60938 27.6298 4.81403 27.8344 5.06647 27.8344H8.35389C8.60633 27.8344 8.81098 27.6298 8.81098 27.3773V24.0899C8.81098 23.8374 8.60633 23.6328 8.35389 23.6328ZM7.8968 26.9202H5.52356V24.547H7.8968V26.9202Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M14.2133 23.6328H10.9258C10.6734 23.6328 10.4688 23.8374 10.4688 24.0899V27.3773C10.4688 27.6298 10.6734 27.8344 10.9258 27.8344H14.2133C14.4657 27.8344 14.6704 27.6298 14.6704 27.3773V24.0899C14.6704 23.8374 14.4657 23.6328 14.2133 23.6328ZM13.7562 26.9202H11.3829V24.547H13.7562V26.9202Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M20.0726 23.6328H16.7852C16.5327 23.6328 16.3281 23.8374 16.3281 24.0899V27.3773C16.3281 27.6298 16.5327 27.8344 16.7852 27.8344H20.0726C20.3251 27.8344 20.5297 27.6298 20.5297 27.3773V24.0899C20.5297 23.8374 20.3251 23.6328 20.0726 23.6328ZM19.6155 26.9202H17.2423V24.547H19.6155V26.9202Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M22.1875 27.3773C22.1875 27.6298 22.3921 27.8344 22.6446 27.8344H25.932C26.1845 27.8344 26.3891 27.6298 26.3891 27.3773V24.0899C26.3891 23.8374 26.1845 23.6328 25.932 23.6328H22.6446C22.3921 23.6328 22.1875 23.8374 22.1875 24.0899V27.3773ZM23.1017 24.547H25.4749V26.9202H23.1017V24.547Z"
                        fill="#A8A8A8"></path>
                      <path
                        d="M28.3373 3.39286H27.7735V1.64414C27.7735 0.737567 27.0359 0 26.1294 0C25.2228 0 24.4852 0.737567 24.4852 1.64414V3.39286H22.4587V1.64414C22.4588 0.737567 21.7212 0 20.8146 0C19.9081 0 19.1705 0.737567 19.1705 1.64414V3.39286H17.1441V1.64414C17.1441 0.737567 16.4066 0 15.5 0C14.5934 0 13.8558 0.737567 13.8558 1.64414V3.39286H11.8293V1.64414C11.8294 0.737567 11.0918 0 10.1853 0C9.27869 0 8.54112 0.737567 8.54112 1.64414V3.39286H6.51461V1.64414C6.51467 0.737567 5.77717 0 4.8706 0C3.96403 0 3.22646 0.737567 3.22646 1.64414V3.39286H2.66265C1.62529 3.39286 0.78125 4.2369 0.78125 5.27426V29.1186C0.78125 30.156 1.62523 31 2.66265 31H20.1733C20.4258 31 20.6304 30.7953 20.6304 30.5429C20.6304 30.2904 20.4258 30.0858 20.1733 30.0858H2.66265C2.12937 30.0858 1.69544 29.6519 1.69544 29.1186V9.56564H7.53052C7.78296 9.56564 7.98761 9.36104 7.98761 9.10854C7.98761 8.85605 7.78296 8.65145 7.53052 8.65145H1.69544V5.27426C1.69544 4.74092 2.12931 4.30704 2.66265 4.30704H3.22646V4.98111C3.22646 5.88768 3.96403 6.62524 4.8706 6.62524C5.77717 6.62524 6.51473 5.88768 6.51473 4.98111V4.30704H8.54125V4.98111C8.54125 5.88768 9.27881 6.62524 10.1854 6.62524C11.092 6.62524 11.8295 5.88768 11.8295 4.98111V4.30704H13.856V4.98111C13.856 5.88768 14.5936 6.62524 15.5002 6.62524C16.4067 6.62524 17.1443 5.88768 17.1443 4.98111V4.30704H19.1708V4.98111C19.1708 5.88768 19.9083 6.62524 20.8149 6.62524C21.7215 6.62524 22.459 5.88768 22.459 4.98111V4.30704H24.4855V4.98111C24.4855 5.88768 25.2231 6.62524 26.1297 6.62524C27.0362 6.62524 27.7738 5.88768 27.7738 4.98111V4.30704H28.3376C28.871 4.30704 29.3048 4.74092 29.3048 5.27426V8.65145H9.35896C9.10652 8.65145 8.90186 8.85605 8.90186 9.10854C8.90186 9.36104 9.10652 9.56564 9.35896 9.56564H29.3046V29.1186C29.3046 29.6519 28.8707 30.0858 28.3374 30.0858H22.0017C21.7492 30.0858 21.5446 30.2904 21.5446 30.5429C21.5446 30.7953 21.7492 31 22.0017 31H28.3373C29.3747 31 30.2187 30.156 30.2187 29.1186V5.27426C30.2187 4.2369 29.3747 3.39286 28.3373 3.39286ZM5.60048 4.98111C5.60048 5.38359 5.27308 5.71106 4.87054 5.71106C4.46805 5.71106 4.14059 5.38359 4.14059 4.98111V1.64414C4.14065 1.24165 4.46811 0.914188 4.8706 0.914188C5.27308 0.914188 5.60055 1.24165 5.60055 1.64414L5.60048 4.98111ZM10.9152 4.98111C10.9152 5.38359 10.5877 5.71106 10.1853 5.71106C9.78277 5.71106 9.45531 5.38359 9.45531 4.98111V1.64414C9.45531 1.24165 9.78277 0.914188 10.1853 0.914188C10.5877 0.914188 10.9152 1.24165 10.9152 1.64414V4.98111ZM16.2299 4.98111C16.2299 5.38359 15.9025 5.71106 15.5 5.71106C15.0975 5.71106 14.77 5.38359 14.77 4.98111V1.64414C14.77 1.24165 15.0975 0.914188 15.5 0.914188C15.9025 0.914188 16.2299 1.24165 16.2299 1.64414V4.98111ZM21.5446 4.98111C21.5446 5.38359 21.2171 5.71106 20.8146 5.71106C20.4122 5.71106 20.0847 5.38359 20.0847 4.98111V1.64414C20.0847 1.24165 20.4122 0.914188 20.8146 0.914188C21.2171 0.914188 21.5446 1.24165 21.5446 1.64414V4.98111ZM26.8593 4.98111C26.8593 5.38359 26.5319 5.71106 26.1294 5.71106C25.7269 5.71106 25.3994 5.38359 25.3994 4.98111V1.64414C25.3994 1.24165 25.7269 0.914188 26.1294 0.914188C26.5319 0.914188 26.8593 1.24165 26.8593 1.64414V4.98111Z"
                        fill="#A8A8A8"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_1_926">
                        <rect width="31" height="31" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="flex flex-col p-2 sm:p-4 ыьЖborder-l border-[#D6D6D6] font-semibold">
                  <span class="text-[#848898]">Год завершения:</span>
                  <span class="text-primary text-xl font-bold">2022</span>
                </div>
              </div>
            </div>
            <div class="sm:pt-14 pb-8 border-b border-[#D6D6D6]">
              <span class="text-lg text-[#202228] block mb-[10px]">Описание</span>
              <p class="text-[#656A7C]">
                Главное назначение строительного проекта — обеспечить возможность непосредственно строительства. Тем не менее, проект совершенно
                необходим и на всех остальных стадиях жизненного цикла. Эксплуатация в течение сколько нибудь долгого времени предполагает изменения
                и перестройки объекта. Строительный проект — основной источник исходных данных для таких работ, и после их завершения изменения должны
                быть в проекте отражены. Для быстрого и безопасного выполнения демонтажных работ также требуется доступ к проектной и рабочей
                документации.
              </p>
            </div>
            <div class="pt-10 sm:pt-14 pb-8">
              <span class="text-lg text-[#202228] block mb-[10px]">Отзыв о строительсве</span>
              <p class="text-[#656A7C]">
                С самого начала нас впечатлил профессионализм сотрудников - они оперативно разработали оптимальный проект с учетом наших пожеланий.
                Строительство велось слаженной бригадой мастеров из Кировской области, которые четко следовали технологии и графику. В итоге мы
                получили добротный, теплый дом с идеально ровными стенами и качественной внутренней отделкой.
              </p>
            </div>
            <div class="flex sm:justify-end items-center">
              <span class="text-[#202228] font-semibold border-r-2 border-[#202228] pr-1 mr-2">Мария Н.</span>
              <span class="text-[#656A7C] text-sm">Директор компании</span>
            </div>
          </div>
          <div class="rounded-lg p-[30px] bg-white">
            <div class="flex flex-col sm:flex-row justify-between gap-5">
              <div class="flex flex-col justify-between min-h-full sm:max-w-[230px]">
                <h2 class="section-title text-xl md:text-[28px] mb-2 sm:mb-8">Видеоотзыв клиента</h2>
                <div class="flex items-center mt-auto">
                  <span
                    class="text-[#202228]
                    font-semibold relative after:absolute after:top-1/2 after:ml-1 after:-translate-y-1/2 after:h-[14px] after:w-[1px]
                     after:bg-[#202228] pr-1 mr-2"
                    >Мария Н.</span
                  >
                  <span class="text-[#656A7C] text-sm">Директор компании</span>
                </div>
              </div>
              <div class="sm:w-[265px] -order-1 sm:order-1 sm:h-[205px] rounded-lg">
                <VideoReview client:only="react" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="related mb-10 md:mb-28">
        <div class="flex-stack flex-col xs:flex-row items-start sm:items-center gap-3 mb-10">
          <h2 class="section-title">Похожие объекты</h2>
          <a href="#" class="text-[#9EA1AB] text-end -order-1 self-end xs:order-1 xs:self-center font-semibold text-nowrap shrink-0"
            >[ Работы по всей <br /> России ]</a
          >
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5 mb-8">
          <li class="flex flex-col items-center bg-white gap-5 p-5 rounded-lg">
            <Image src={import('../assets/projects/1.png')} alt="ЖК Светлогорский" />
            <span class="font-bold uppercase text-center">ЖК Светлогорский</span>
            <p class="text-[#848898] text-center">Красноярск, пер Светлогорский, д 12</p>
            <a href="#" class="button text-[#1D1D21] hover:bg-primary mt-auto bg-[#F4F3F4] hover:text-white transition-colors">подробнее</a>
          </li>
          <li class="flex flex-col items-center bg-white gap-5 p-5 rounded-lg">
            <Image src={import('../assets/projects/2.png')} alt="ЖК Светлогорский" />
            <span class="font-bold uppercase text-center">Красноярский краевой онкологический диспансер</span>
            <p class="text-[#848898] text-center">Красноярск, ул 1-я Смоленская, д 16,</p>
            <a href="#" class="button text-[#1D1D21] hover:bg-primary mt-auto bg-[#F4F3F4] hover:text-white transition-colors">подробнее</a>
          </li>
          <li class="flex flex-col items-center bg-white gap-5 p-5 rounded-lg">
            <Image src={import('../assets/projects/1.png')} alt="ЖК Светлогорский" />
            <span class="font-bold uppercase text-center">Академгородок д. 4, секция 6</span>
            <p class="text-[#848898] text-center">Красноярск, ул Академгородок, д 54</p>
            <a href="#" class="button text-[#1D1D21] hover:bg-primary mt-auto bg-[#F4F3F4] hover:text-white transition-colors">подробнее</a>
          </li>
        </div>
        <div class="text-end w-full sm:auto">
          <a href="#" class="button w-full sm:w-auto block sm:inline-flex text-center">Все объекты</a>
        </div>
      </div>
    </div>
    <Pricing />
  </div>
</Layout>

<style>
  .embla {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 20px;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
</style>

<script>
  import EmblaCarousel from 'embla-carousel';
  const rootNode = document.querySelector('.embla') as HTMLElement;
  const viewportNode = rootNode.querySelector('.embla__viewport') as HTMLElement;

  // Grab button nodes
  const prevButtonNode = rootNode.querySelector('.embla__prev') as HTMLButtonElement;
  const nextButtonNode = rootNode.querySelector('.embla__next') as HTMLButtonElement;

  const embla = EmblaCarousel(viewportNode);

  // @ts-ignore
  prevButtonNode.addEventListener('click', embla.scrollPrev, false);

  // @ts-ignore
  nextButtonNode.addEventListener('click', embla.scrollNext, false);
</script>
