---
const advantagesItems = [
  { count: '180', label: 'отрудников в компании', bg: '#E0E2E6' },
  { count: '325', label: 'проектов реализовано', bg: '#2E3037' },
  { count: '20', label: 'лет на рынке', bg: '#F43333' },
];
---

<section class="container pb-14 md:pb-28">
  <div class="flex flex-col sm:flex-row w-full gap-5">
    <div class="card bg-[#E0E2E6] w-full relative overflow-hidden rounded-lg">
      <div class="flex flex-row sm:flex-col xl:flex-row items-center sm:items-start xl:items-center gap-3 p-6 sm:p-8 overflow-hidden relative z-20">
        <span class="text-6xl font-medium">180</span>
        <span class="text-[#202228] font-bold">сотрудников <br /> в компании</span>
      </div>
      <div class="absolute -right-5 z-10 top-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="243" height="140" viewBox="0 0 243 140" fill="none" class="h-[120px] sm:h-[140px]">
          <g opacity="0.8">
            <g clip-path="url(#clip0_1_162)">
              <path d="M262.773 0H197.429L100.623 111.038H165.967L262.773 0Z" fill="#E7EAEE"></path>
              <path d="M365 0H299.656L202.85 111.038H268.194L365 0Z" fill="#E7EAEE"></path>
              <path d="M160.547 0H95.2029L-1.60312 111.038H63.7409L160.547 0Z" fill="#E7EAEE"></path>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 63.6094 111.039)" fill="#E7EAEE"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 165.836 111.039)" fill="#E7EAEE"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 268.062 111.039)" fill="#E7EAEE"></rect>
              <path d="M269.828 111.039H-2.47815" stroke="#E0E2E6"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_1_162">
              <rect width="243" height="140" rx="8" transform="matrix(-1 0 0 1 243 0)" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="card bg-[#2E3037] w-full text-white relative overflow-hidden rounded-lg">
      <div class="flex flex-row sm:flex-col xl:flex-row items-center sm:items-start xl:items-center gap-3 p-6 sm:p-8 overflow-hidden relative z-20">
        <span class="text-6xl font-medium">325</span>
        <span class="font-bold">проектов <br /> реализовано</span>
      </div>
      <div class="absolute -right-5 z-10 top-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="243" height="140" viewBox="0 0 243 140" fill="none" class="h-[120px] sm:h-[140px]">
          <g opacity="0.7">
            <g clip-path="url(#clip0_52_59)">
              <path d="M262.773 0H197.429L100.623 111.038H165.967L262.773 0Z" fill="#32363F"></path>
              <path d="M365 0H299.656L202.85 111.038H268.194L365 0Z" fill="#32363F"></path>
              <path d="M160.547 0H95.2029L-1.60312 111.038H63.7409L160.547 0Z" fill="#32363F"></path>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 63.6094 111.039)" fill="#32363F"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 165.836 111.039)" fill="#32363F"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 268.062 111.039)" fill="#32363F"></rect>
              <path d="M269.828 111.039H-2.47815" stroke="#2E3037"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_52_59">
              <rect width="247" height="126" rx="8" transform="matrix(-1 0 0 1 247 0)" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="card bg-[#F43333] w-full text-white relative overflow-hidden rounded-lg">
      <div class="flex flex-row sm:flex-col xl:flex-row items-center sm:items-start xl:items-center gap-3 p-6 sm:p-8 overflow-hidden relative z-20">
        <span class="text-6xl font-medium">20</span>
        <span class="font-bold">лет <br /> на рынке</span>
      </div>
      <div class="absolute -right-5 z-10 top-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="243" height="140" viewBox="0 0 243 140" fill="none" class="h-[120px] sm:h-[140px]">
          <g opacity="0.8">
            <g clip-path="url(#clip0_52_73)">
              <path d="M262.773 0H197.429L100.623 111.038H165.967L262.773 0Z" fill="#FC3A3A"></path>
              <path d="M365 0H299.656L202.85 111.038H268.194L365 0Z" fill="#FC3A3A"></path>
              <path d="M160.547 0H95.2029L-1.60312 111.038H63.7409L160.547 0Z" fill="#FC3A3A"></path>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 63.6094 111.039)" fill="#FC3A3A"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 165.836 111.039)" fill="#FC3A3A"></rect>
              <rect width="65.2125" height="29.9625" transform="matrix(-1 0 0 1 268.062 111.039)" fill="#FC3A3A"></rect>
              <path d="M269.828 111.039H-2.47815" stroke="#F43333"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_52_73">
              <rect width="243" height="126" rx="8" transform="matrix(-1 0 0 1 243 0)" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</section>
