---
import { Image } from 'astro:assets';
import Video from './Video';
---

<div class="container py-14 sm:py-20">
  <div class="flex flex-col md:flex-row justify-between gap-10">
    <div class="flex flex-col gap-5 w-full">
      <Video client:only="react" />
      <div class="flex items-center bg-[#F4F3F4] p-3 sm:p-5 rounded-xl">
        <Image src={import('../assets/company-logo.png')} quality={100} class="max-w-[80px] sm:max-w-full" alt="logo" />
        <p class="uppercase text-[12px] sm:text-base md:text-base xl:text-lg font-extrabold pl-5 ml-5 md:ml-7 tracking-tight border-l border-white">
          получен сертификат мастерства, <br /> подтверждающий качество работы компании
        </p>
      </div>
      <a href="#" class="md:hidden button mt-auto text-center">Подробнее о компании</a>
    </div>
    <div class="-order-1 md:order-1 md:max-w-[380px] flex flex-col items-start">
      <h2 class="section-title mb-5 md:mb-10">О компании</h2>
      <p class="mb-5 text-[#747882] text-lg">
        Наша компания работает на строительном ранке с 2003 года и является сертифицированным авторизованным подрядчиком корпорации «ТехноНИКОЛЬ».
      </p>
      <p class="text-[#747882] text-lg md:mb-5">
        За все время работы мы принимали участие в капитальном строительстве жилых домов, вели работы по капитальному ремонту и реконструкции
        производственных зданий, выполняя функцию подрядчика.
      </p>
      <a href="#" class="hidden md:block button mt-auto">Подробнее о компании</a>
    </div>
  </div>
</div>
