---
import { getImage, Image } from 'astro:assets';
import myBackground from '../assets/sale-bg.png';
import SaleForm from '../components/forms/SaleForm';
const saleBG = await getImage({ src: myBackground, format: 'webp', quality: 100 });
---

<div class="bg-cover sale-form bg-no-repeat bg-center min-h-[695px] sm:min-h-0 relative" style={`background-image: url(${saleBG.src});`}>
  <div class="container relative z-20">
    <div class="py-14 lg:py-36">
      <h2 class="section-title text-[#0A0B0F] mb-2">Хотите получить скидку на объем работ?</h2>
      <p class="text-[#848896] text-lg mb-8 sm:mb-10">Оставьте ваши контакты и мы свяжемся с вами в ближайшее время</p>
      <SaleForm client:load />
    </div>
  </div>
  <Image src={import('../assets/sale-mask.png')} class="sm:hidden absolute bottom-0 left-0 w-full h-full z-0" alt="mask" />
</div>
